/* styles.css */

/* Remova o sublinhado dos links */
a {
    text-decoration: none;
  }
  
  /* Defina a cor da fonte dos links como verde (#44bba4) */
  a {
    color: #73bf8e;
  }
  
  /* Defina a cor da fonte dos links quando estiverem ativos como verde (#44bba4) */
  a.router-link-active {
    color: #73bf8e;
  }
  